In [3]:
import numpy as np
import seaborn as sns
import pandas as pd
from matplotlib import pyplot as plt

In [8]:
rainfall = pd.read_csv('MelboureMonthlyRainfall.csv')
maxtemp = pd.read_csv('MelbourneMonthlyMaxT.csv')
mintemp = pd.read_csv('MelbourneMonthlyMinT.csv')
dmi = pd.read_csv('dmi.had.long.data.csv')
sam = pd.read_csv('sam.csv')
soi = pd.read_csv('soi.csv')

,Unnamed: 0,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,1870,-0.373,-0.256,0.277,0.027,-0.400,-0.434,-0.554,-0.409,-0.622,-0.476,-0.278,-0.306
1,1871,-0.208,-0.090,-0.112,-0.073,-0.035,-0.049,-0.347,-0.263,-0.230,-0.368,-0.094,-0.159
2,1872,0.028,0.121,0.024,-0.009,-0.069,0.030,-0.189,-0.213,-0.227,-0.111,0.017,-0.041
3,1873,0.127,-0.239,-0.304,-0.196,-0.331,-0.473,-0.593,-0.688,-0.588,-0.319,-0.229,-0.233
4,1874,-0.316,-0.308,-0.486,-0.678,-0.361,-0.351,-0.242,-0.232,-0.708,-0.999,-0.480,-0.720
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,2018,-0.135,0.295,-0.020,-0.008,0.202,0.269,0.150,0.234,0.710,0.844,0.623,0.379
149,2019,0.452,0.496,0.325,0.333,0.619,0.719,0.693,0.548,0.999,1.123,0.958,0.312
150,2020,0.238,0.134,0.119,0.064,0.378,0.568,0.417,-0.070,-0.084,0.233,0.143,0.100
151,2021,0.116,0.323,0.367,0.325,0.089,0.112,-0.132,0.014,0.048,0.068,0.192,-0.050
152,2022,0.009,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000

In [9]:
###DATA CLEANING###

rainfall = rainfall.drop(['Product code','Station Number'],1)
maxtemp = maxtemp.drop(['Product code','Station Number'],1)
mintemp = mintemp.drop(['Product code','Station Number'],1)

soi = soi.dropna()
sam = sam.dropna()
dmi = dmi.dropna()
rainfall = rainfall.dropna()
maxtemp = maxtemp.dropna()
mintemp = mintemp.dropna()

sam = sam.rename(columns={'Unnamed: 0': 'YEAR'})
dmi = dmi.rename(columns={'Unnamed: 0': 'YEAR'})


maxtemp = maxtemp[maxtemp['Year']> 1956].reset_index().drop('index', axis =1).rename(columns={'Annual': 'AnnualMaxTemp'})

rainfall= rainfall[rainfall['Year']> 1956].reset_index().drop('index', axis =1).rename(columns={'Annual': 'AnnualRainfall'})


mintemp = mintemp[mintemp['Year']> 1956].reset_index().drop('index', axis =1).rename(columns={'Annual': 'AnnualMinTemp'})


dmi = dmi[dmi['YEAR']> 1956].reset_index().drop('index', axis =1).drop(index=65)



soi = soi[soi['YEAR']> 1956].reset_index().drop('index', axis =1)

sam_int_year = sam['YEAR'].astype(int)

sam = pd.merge(sam_int_year, sam, how = 'left')

rainfall.set_index('Year', inplace = True)
mintemp.set_index('Year', inplace = True)
maxtemp.set_index('Year', inplace = True)

dmi.set_index('YEAR', inplace = True)
sam.set_index('YEAR', inplace = True)
soi.set_index('YEAR', inplace = True)

###END DATA CLEANING###

NameError: name 'rainfall' is not defined

In [43]:
#sns.scatterplot(x=sam['JAN'],y=rain['Jan'])

In [7]:
dmi.drop(dmi.index[dmi['YEAR'] <= 1956], inplace=True)
sam.drop(sam.index[sam['YEAR'] <= 1956], inplace=True)
soi.drop(soi.index[soi['YEAR'] <= 1956 & soi['YEAR']>2021], inplace=True)

KeyError: 'YEAR'

In [64]:
print('The DMI index')
for i in dmi.columns:
    avg = np.mean(dmi[i])
    mx = np.max(dmi[i])
    mn = np.min(dmi[i])
    print(i, 'Mean:', np.round(avg,3), 'Max:', mx, 'Min:',mn)

The DMI index
Year Mean: 1989.0 Max: 2021 Min: 1957
Jan Mean: 0.021 Max: 0.59 Min: -0.574
Feb Mean: 0.012 Max: 0.624 Min: -0.612
Mar Mean: 0.032 Max: 0.558 Min: -0.652
Apr Mean: -0.005 Max: 0.574 Min: -0.67
May Mean: -0.05 Max: 0.624 Min: -0.662
Jun Mean: -0.002 Max: 0.853 Min: -0.747
Jul Mean: -0.031 Max: 0.805 Min: -0.966
Aug Mean: -0.026 Max: 0.923 Min: -1.148
Sep Mean: -0.07 Max: 0.999 Min: -1.197
Oct Mean: -0.02 Max: 1.123 Min: -0.949
Nov Mean: 0.014 Max: 1.402 Min: -0.688
Dec Mean: -0.004 Max: 0.932 Min: -0.572

In [65]:
print('The SAM index')
for i in sam.columns:
    avg = np.mean(sam[i])
    mx = np.max(sam[i])
    mn = np.min(sam[i])
    print(i, 'Mean:', np.round(avg,3), 'Max:', mx, 'Min:',mn)

The SAM index
Year Mean: 1989.5 Max: 2022.0 Min: 1957.0
Jan Mean: 0.415 Max: 3.59 Min: -4.13
Feb Mean: -0.282 Max: 4.92 Min: -7.65
Mar Mean: -0.006 Max: 4.36 Min: -4.42
Apr Mean: 0.15 Max: 3.49 Min: -3.52
May Mean: -0.094 Max: 3.73 Min: -3.35
Jun Mean: 0.244 Max: 3.66 Min: -4.14
Jul Mean: 0.08 Max: 3.37 Min: -6.15
Aug Mean: -0.052 Max: 3.66 Min: -5.03
Sep Mean: 0.088 Max: 3.09 Min: -3.5
Oct Mean: 0.035 Max: 3.35 Min: -6.03
Nov Mean: 0.02 Max: 3.88 Min: -5.42
Dec Mean: 0.194 Max: 3.43 Min: -5.07

In [66]:
print('The SOI index')
for i in soi.columns:
    avg = np.mean(soi[i])
    mx = np.max(soi[i])
    mn = np.min(soi[i])
    print(i, 'Mean:', np.round(avg,3), 'Max:', mx, 'Min:',mn)

The SOI index
Year Mean: 1989.5 Max: 2022 Min: 1957
Jan Mean: 0.174 Max: 4.0 Min: -5.8
Feb Mean: 0.22 Max: 4.5 Min: -6.0
Mar Mean: 0.492 Max: 4.2 Min: -4.0
Apr Mean: 0.217 Max: 3.1 Min: -2.4
May Mean: 0.214 Max: 2.2 Min: -2.6
Jun Mean: 0.198 Max: 2.1 Min: -2.3
Jul Mean: 0.143 Max: 3.1 Min: -3.0
Aug Mean: 0.245 Max: 3.3 Min: -2.9
Sep Mean: 0.054 Max: 3.7 Min: -2.9
Oct Mean: 0.109 Max: 2.9 Min: -2.8
Nov Mean: 0.106 Max: 4.3 Min: -4.3
Dec Mean: 0.214 Max: 4.8 Min: -3.7