### Exercises -- Week 1

Please enter your solution in the cell below each exercise.

### Exercise 1

For the numbers 13 and 22 write a script which tests whether the number is even or odd, and then prints out
a statement such as:

The number 13 is odd. (The print statement should use a variable, rather than an actual number.)

Your solution should involve a for loop, an array, the % operator and an if-else statement.

In [14]:
numbers = [13,22]
for i in numbers:
    if (i%2==0): 
        print("The number " + str(i) + " is even")
    else:
        print("The number " + str(i) + " is odd")

The number 13 is odd
The number 22 is even

### Exercise 2

Use a for loop to calculate the factorial of 9 and print out the result.

In [65]:
fac = 1
for i in range (0,9) :
    
    fac = (fac * (i+1)) 

    
print(fac)

362880

### Exercise 3

For the string 'Supercalifragilisticexpialidocious', print the string in reverse order, print strings consisting of the characters in the odd and even positions, and find the number of occurences of the vowels in the string (you should loop over the vowels and use the `count()` method). Your answers should be explained and formatted using print statements.

In [88]:
x = 'Supercalifragilisticexpialidocious'

print("Reverse order : " + x[::-1])

print("Odd positions : " + x[::2])

print("Even positions : " + x[1::2])

vowels = "aeiou"

numberOfVowels = 0

for letters in vowels:
    numberOfVowels = x.count(letters) + numberOfVowels
    
print("There are " + str(numberOfVowels) + " vowels in " + x)

Reverse order : suoicodilaipxecitsiligarfilacrepuS
Odd positions : Sprairglsiepaioiu
Even positions : ueclfaiitcxildcos
There are 16 vowels in Supercalifragilisticexpialidocious

### Exercise 4

Use a for loop to print the 10 by 10 multiplication table.

In [1]:
for n in range(1,11):
    
    one = 1 * n
    two = 2 * n
    three = 3 * n
    four = 4 * n
    five = 5 * n
    six = 6 * n
    seven = 7 * n
    eight = 8 * n
    nine = 9 * n
    ten = 10 * n
    
    print(one, two, three, four, five, six, seven, eight, nine, ten, sep = '  ')

1  2  3  4  5  6  7  8  9  10
2  4  6  8  10  12  14  16  18  20
3  6  9  12  15  18  21  24  27  30
4  8  12  16  20  24  28  32  36  40
5  10  15  20  25  30  35  40  45  50
6  12  18  24  30  36  42  48  54  60
7  14  21  28  35  42  49  56  63  70
8  16  24  32  40  48  56  64  72  80
9  18  27  36  45  54  63  72  81  90
10  20  30  40  50  60  70  80  90  100

### Exercise 5

Given an integer 260221 reverse the order and print the output, i.e., 122062.

In [189]:
print(str(260221)[::-1])

122062